<div markdown="1">

- [Trans Lifeline](https://translifeline.org/)
- [Black Girls Code](https://www.blackgirlscode.com/)
- [YearUp](https://www.yearup.org/)
- [Resilient Coders](http://www.resilientcoders.org/)
- [Feeding America: US Hunger Relief Organization](https://www.feedingamerica.org/)
- [Get Us PPE – Personal Protective Equipment](https://getusppe.org/)
- [Stop AAPI Hate](https://stopaapihate.org/)

If you feel there are other good causes that should be on this list, please contact the organizers.

</div>
