{% assign person = include.person %}
{% assign extracontent = include.extracontent %}
{% assign socialcard = person.id %}
{% assign extracontent = extracontent | markdownify | strip %}

{% capture yearpath %}{{ include.year }}/{% endcapture %}

{% if include.socialcard %}{% assign socialcard = include.socialcard %}{% endif %}
<div style="min-width:200px;width:25%;margin:2em;float:left;text-align:center;align-self:flex-start;">
  <img id="speaker-thumb" src="/assets/images/speakers/{{ yearpath }}socials/{{ socialcard }}.png"
        style="width:100%;border-radius:2em;visibility:hidden;"
        title="{{ person.name }}: {{ person.title }}" />
{% if person.handles %}
    {% assign social = person.handles %}
    <div class="flexbox">
{% if social.twitter %}<svg class="svg-icon grey" title="{{ person.name }} on Twitter" onclick="window.open('https://twitter.com/{{ social.twitter }}')" style="cursor:pointer;"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>{% endif %}
{% if social.linkedin %}<svg class="svg-icon grey" title="{{ person.name }} on LinkedIn" onclick="window.open('https://www.linkedin.com/in/{{ social.linkedin }}')" style="cursor:pointer;"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>{% endif %}
{% endif %}
    </div>
  <div class="flexbox" style="max-width:450px;">
    <p style="font-size:1.5em;">{{ person.name }}<br /><span style="text-transform: uppercase;">{{ person.role }}</span></p>
    <div class="flexbox" style="white-space: nowrap;">
      {%- if include.include_preaction != "false" and include.year == "2022" and person.session_url -%}
      {%- unless person.preactions and person.preactions.size > 0 -%}
      <!-- a class="flexbox-button" href="/2022/preaction/{{person.id}}" style="font-size:0.9em;">Add your (p)reaction!</a -->
      {%- endunless -%}
      {%- endif -%}
      {%- if include.year == "2022" -%}
        {%- if person.session_url -%}
          <a class="flexbox-button" href="{{ person.session_url }}" style="font-size:0.9em;">
            Watch this Session
          </a>
        {% else %}
          <a class="flexbox-button" href="{{ site.registration_link }}" style="font-size:0.9em;">
            Watch this Session
          </a>
        {%- endif -%}
      {% else %}
      <a class="flexbox-button" href="{{ site.registration_link }}" style="font-size:0.9em;">
        Attend all Sessions
      </a>
      <a class="flexbox-button" href="{%- if include.year != "2022" and person.session_url -%}{{ person.session_url }}{%- else %}{{ site.registration_link }}{%- endif -%}" style="font-size:0.9em;">
        Watch this Session
      </a>
      {%- endif -%}
    </div>
    <div style="text-align:left;">
    {% if extracontent.size > 0 %}
      {{ extracontent }}
    {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  window.onloadqueue=(window.onloadqueue||[]).concat([function () {
    $('#speaker-thumb').attr('src','/assets/images/speakers/{{ yearpath }}thumbs/{{ person.id }}.png').css({'border-radius':'50%'})
    [0].onload=function() {
      $(this).css({'visibility':'visible'})
    }
  }]);
</script>
