---
---

@import "{{ site.theme }}";

@import "css/initialize.scss";

@import "css/dark.scss";

@import "css/menu.scss";

$textColor: #b5e853;

h1 {
  margin-top: 2em;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flexbox-button {
  width: auto;
  margin: 1em;
  padding: 1em;
  border: solid 2px $textColor;
}
a, .flexbox-button, .flexbox-button a {
  color: $textColor;
}

.sponsor-logo-premiere {
  min-width: 200px;
  max-width: 400px;
  margin: 1em;
}
.sponsor-logo-contributor {
  min-width: 100px;
  max-width: 200px;
  margin: 1em;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}
