---
layout: default
---

{% assign person = site.data['2022-speakers'].items | where_exp:"item", "item.id == page.id" | first %}
{% assign content = content | markdownify | strip %}
{% capture abstract_md %}{{ person.abstract | markdownify }}{% endcapture %}
{% capture bio %}{% include person-bio.html person=person %}{% endcapture %}
{% assign bio_bottom = false %}
{% if content.size > 0 or abstract_md.size > 350 %}{% assign bio_bottom = true %}{% endif %}
<div class="flexbox">
  {% include person-left.html person=person year="2022" extracontent=content %}
  <div style="min-width:300px;flex:1;align-self:flex-start;">
    {% if person.preactions and person.preactions.size > 0 %}
      <h1>Preaction Videos</h1>
      <h3>about "{{ person.title }}" by {{ person.name }}</h3>
      <p>
      A "PRE-action" video is a short (<5min) summary of what one of our community thinks is ***meaningful***
       for others to pay attention to about a presentation from one of our speakers this year.
      </p>
      <p>
      Want to submit one yourself? Anyone can! <a href="/2022/preaction">Learn how to here.</a>
      </p>

      <div class="flexbox">
      {% for preaction in person.preactions %}
        <div style="width:300px;flex:1;align-self:flex-start;">
          <div class="video_wrapper">
          {% if preaction.youtube_id %}
            <iframe width="280" height="157" src="https://www.youtube.com/embed/{{ preaction.youtube_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {% else %}
          <div class="video_thumbnail"><a href="{{ preaction.video_url }}">{{ preaction.contributor }}</a></div>
          {% endif %}
          <div style="width:280px;text-align:center;">from {{ preaction.contributor }}</div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}

  </div>
</div>

<h2>{{ person.title }}</h2>
<p>
  {{ abstract_md }}
</p>

  {{ bio }}

<style type="text/css">
.video_thumbnail {
  width: 280px;
  height: 157px;
}
.video_wrapper {
  margin: 1em;
}
</style>
