---
layout: default
---

{% assign speaker = site.data.speakers.items | where_exp:"item", "item.id == page.id" | first %}

<div class="flexbox">
  <div style="min-width:200px;width:25%;margin:2em;float:left;text-align:center;align-self:flex-start;">
    <img id="speaker-thumb" src="/assets/images/speakers/socials/{{ speaker.id }}.png"
          style="width:100%;border-radius:2em;visibility:hidden;"
          title="{{ speaker.name }}: {{ speaker.title }}" />
{% if speaker.handles %}
      {% assign social = speaker.handles %}
      <div class="flexbox">
  {% if social.twitter %}<svg class="svg-icon grey" title="{{ speaker.name }} on Twitter" onclick="window.open('https://twitter.com/{{ social.twitter }}')" style="cursor:pointer;"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>{% endif %}
  {% if social.linkedin %}<svg class="svg-icon grey" title="{{ speaker.name }} on LinkedIn" onclick="window.open('https://www.linkedin.com/in/{{ social.linkedin }}')" style="cursor:pointer;"><use xlink:href="{{ '/assets/images/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>{% endif %}
{% endif %}
      </div>
    <p style="font-size:1.5em;">{{ speaker.name }}<br /><span style="text-transform: uppercase;">{{ speaker.role }}</span></p>
    <div class="flexbox">
      <a class="flexbox-button" href="{{ site.registration_link }}">Attend this Talk</a>
    </div>
  </div>
  <div style="min-width:300px;flex:1;align-self:flex-end;">
    <h2>{{ speaker.title }}</h2>
    <p>
      {{ speaker.abstract | markdownify }}
    </p>
  </div>
</div>


<div style="float:none;clear:both;">
  <h3>More about This Presenter</h3>
<p>{{ speaker.bio }}</p>
</div>

<script type="text/javascript">
  window.onloadqueue=(window.onloadqueue||[]).concat([function () {
    $('#speaker-thumb').attr('src','/assets/images/speakers/thumbs/{{ speaker.id }}.png')
      .css({'border-radius':'50%'})
    [0].onload=function() {
      $(this).css({'visibility':'visible'})
    }
  }]);
</script>

<div class="flexbox">

  <div style="max-width:48%;width:100%;">

  </div>
</div>


{{ content }}
